.mark {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 70px;
  padding-top: 60px;
  .headerBtn {
    text-align: right;
  }
  .markInfo {
    .content {
      margin-top: 20px;
    }
  }
}

.clearFix {
  clear: both;
}
