
.loginPage {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 10%;
  background-color: #2cafff;

  .loginForm {
    background-color: #ffffff;
    width: 50%;
    margin: 0 auto;
    padding: 20px 20px;

    .titleLogo {
      width: 100%;
      text-align: center;
    }

    .formItem {
      margin-bottom: 20px;
    }
  }

  .mouseClick {
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: larger;
    animation: mouseClickFlicker 1s ease-in-out infinite;
    animation-direction: alternate;
  }
}

.cn_FontFamily {
  font-family: Zpix !important;
}

.fixBottom {
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearFix {
  clear: both;
}


@keyframes mouseClickFlicker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
